@font-face {
  font-family: "Monserat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
:root {
  --main-font: "Monserat", serif;
  --white: #ffffff;
  --black: black;
  --grey-color: #f6f6f6;
  --font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: var(--main-font);
  color: var(--grey-color);
  display: flex;
  min-height: 100vh;
}
.contacts {
  flex: 1;
  padding: 112px 0;
  background: #8d2e03 url("../assets/background@1X.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contacts:after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.contacts__form {
    z-index: 1;
    max-width: 412px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.contacts__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
}
.contacts__input-name {
    font-size: var(--font-size);
    text-transform: capitalize;
}
.contacts__input-name_pt {
    padding-top: 30px;
    align-self: start;
}
.contacts__input,
.contacts__textarea {
    border: 1px solid var(--grey-color);
    background-color: transparent;
    border-radius: 3px;
    flex-basis: 300px;
    color: var(--grey-color);
    padding: 0 12px;
}
.contacts__input {
    height: 46px;
}
.contacts__textarea {
    padding-top: 12px;
    padding-bottom: 12px;
}
.contacts__submit-btn {
    border: 1px solid var(--grey-color);
    background-color: transparent;
    border-radius: 3px;
    color: var(--grey-color);
    padding: 0 36px;
    height: 46px;
    max-width: fit-content;
    font-family: var(--main-font);
    font-size: var(--font-size);
    transition: transform .2s ease;
    cursor: pointer;
}
.contacts__submit-btn:hover {
    transform: rotate(360deg);
}

.label {
    display: flex;
    align-items: center;
}
.label__radio {
    display: none;
}
.label__area {
    width: 40px;
    height: 40px;
    background-color: violet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label__radio:checked + .label__area > span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
}